services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: practicas
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 20

  api:
    build: ./
    environment:
      NODE_ENV: development
      PORT: 4000
      DATABASE_URL: postgres://postgres:postgres@db:5432/practicas
      JWT_SECRET: super_secreto_2025
      JWT_EXPIRES_IN: 1d
      CORS_ORIGIN: "*"
    ports:
      - "4000:4000"
    depends_on:
      db:
        condition: service_healthy
